<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="Aspect.Domain.Properties.Settings.aspectConnectionString" connectionString="Data Source=(local);Initial Catalog=aspect;User ID=sa;Password=Qwe321qwe" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
