<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    <add key="TimeoutInnerConnection" value="600"/>
    <add key="TechnologyEnable" value="True"/>
    <add key="AttechedFilesApplication" value="c:\\windows\\notepad.exe"/>
  </appSettings>
  <extnet/>
  <nlog>
    <targets>
      <target name="LogGile" type="File" fileName="C:\Logs\Advance\${date:format=yyyy-MM-dd}.log"/>
    </targets>
    <rules>
      <logger name="*" writeTo="LogGile"/>
    </rules>
  </nlog>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="CustomTraceListener" type="Aspect.Utility.SplitterTraceListener, Aspect.Utility" initializeData="C:\Logs\aspect.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <connectionStrings>
    <add name="Aspect.Domain.Properties.Settings.aspectConnectionString" connectionString="Data Source=GPO5\SQLR2EXP;Initial Catalog=aspect;Integrated Security=True;"/>
    <!--  <add name="Aspect.Domain.Properties.Settings.aspectConnectionString" connectionString="Server=192.168.10.3\ASTECTSQLSERVER;Database=aspect_test8;Password=Qwe321qwe;User=sa;Trusted_connection=False;Connection Timeout=30;"/>-->
  </connectionStrings>

  <location path="css/login.css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="img">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SignOut.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="jquery.mbMenu.2.6">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="scripts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Callback">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- ############## -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="Default.aspx" defaultUrl="Grid.aspx"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <globalization culture="auto" uiCulture="auto"/>
    <customErrors mode="Off"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpHandlers>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net"/>
    </modules>
    <handlers>
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Aspect.UI.Web.Technology.TechDatesAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Aspect.UI.Web.Technology.TechnDates">
        <endpoint address="" behaviorConfiguration="Aspect.UI.Web.Technology.TechDatesAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Aspect.UI.Web.Technology.TechnDates" />
      </service>
    </services>
  </system.serviceModel>
</configuration>