/**** login page classes ****/
body, td, input
{
	font-family: Trebuchet MS;
	font-size: 11px;
}

.L
{
	float: left;
}

.R
{
	float: right;
}

.C
{
	clear: both;
	color:Gray;
	text-align:center;
}

p
{
	margin-bottom: 14px;
	text-align: justify;
}

.loginBox
{
	border: solid 2px #7c7c7c;
	width: 190px;
}

.darkgray
{
	color: #7c7c7c;
	text-transform: uppercase;
}

.tm
{
	font-size: 8px;
}

div.baseContent
{
	border: solid 0px red;
	margin: 20px;
	width: 960px;
	height: 100%;
}

div.subBaseContent
{
	width: 960px;
	background: #FFF;
}

div.subMainContent1
{
	border: solid 2px #e8e8e8;
	padding: 5px;
	text-align: left;
	padding: 20px;
}

div.subMainContent2
{
	border: solid 2px #e8e8e8;
	float: left;
	width: 956px;
}

div.logoContent
{
	float: left;
	padding: 0 30px;
	min-width:107px;
}

div.inputsContent
{
	float: left;
	padding-top: 15px;
}

div.inputContent
{
	border: solid 0px red;
	float: left;
	padding-top: 10px;
	padding-left: 20px;
}

img.clear
{
	height: 20px;
	width: 20px;
	float: left;
}

.divBreadcrumb
{
	padding-left: 10px;
	line-height: 22px;
	font-weight: bold;
	font-size: 10px;
	letter-spacing: 1px;
	padding-top: 3px;
	height: 23px;
	background-color:#E0EBEF;
}

input.btnLogin
{
	cursor: pointer;
	border: 0px none #fff;
	padding: 2px;
	text-align: center;
	font-size: 12px;
	width: 190px;
	line-height: 14px;
	margin: 0px;
	background-color: #4F88AF;
	color: #fff;
}

/***** end login page classes ****/